body{
    height: 100%;
    margin: 0px;
    background-size: 1400px;
    background-repeat: no-repeat;
    position: absolute;
}
body:before {
	content:'';
	position: absolute;
        top: 0;
	bottom: 0;
	left: 0;
	right: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: -1;
}
#films{
    display: grid;
    grid-template-columns: 220px 500px;
    grid-template-rows: 300px;
    grid-gap: 250px;
    margin-left: 40px;
    margin-top: 90px;  
    grid-auto-rows: 400px;
    justify-items: center;
    
}

p{
    display: inline-grid;
    grid-template-columns: 105px;
    grid-template-rows: 50px;
    margin-top: 5px;
    color: rgb(236, 238, 146);
}

#titulo{
    padding-bottom: 20px;    
    font-family: 'Lato' ;
    display: inline-grid;
    width: 100%;
    margin-bottom: 0px;
    color: rgb(219, 170, 107);
    text-align : left;
}

#average{
    justify-items: right;
}

img{
    height: 300px;
    width: 220px;
    border-radius: 10px;
    box-shadow: 2px 20px 50px rgb(156, 156, 156);
}

#inputBusqueda{
    margin-left: 250px;
    width: 550px;
    height: 35px;
    border-radius: 5px;
    font-size: 1em;
    margin-top: 20px;
}
#botonBuscar{
    width: 150px;
    height: 40px;
    font-size: 1em;

}
#header{
    background-color: brown;
    height: 80px;
    width: 1400px;
}
div{
    margin: 0%;
    height: 400px;
    text-align : justify;
    
    
}
p1{
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    color: blanchedalmond;
    
    
}
divv{
    width: 700px;
    margin: 0%;
    height: 400px;
    text-align : justify;
    
    
}